<h1><%= @message %><br />hselihkA | Akhilesh</h1>
<%= image_tag "comodo_secure_100x85_transp.png" %>
<img src="<%= asset_path %q{comodo_secure_100x85_transp.png} %>" />
<br />
<span style="font-weight:bold; font-size:7pt">Two ways of linking to assets</span>
