<h1><%= @message %><br />hselihkA | Akhilesh</h1>
<a href="http://www.instantssl.com/ssl-certificate-products/free-ssl-certificate.html">
<%= image_tag "comodo_secure_100x85_transp.png" %><br> <span style="font-weight:bold; font-size:7pt">Free SSL </span></a><br>
